[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
backcall = "==0.2.0"
certifi = "==2020.11.8"
chardet = "==3.0.4"
click = "==7.1.2"
colorama = "==0.4.4"
decorator = "==4.4.2"
dj-database-url = "==0.5.0"
django-heroku = "==0.3.1"
djangorestframework = "==3.12.4"
httpie = "==2.3.0"
idna = "==2.10"
ipykernel = "==5.4.2"
ipython = "==7.19.0"
itsdangerous = "==1.1.0"
jedi = "==0.18.0"
jupyter-client = "==6.1.7"
jupyter-core = "==4.7.0"
parso = "==0.8.1"
pickleshare = "==0.7.5"
pipenv = "==2020.11.15"
prompt-toolkit = "==3.0.9"
psycopg2 = "==2.8.6"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
pywin32 = "==300"
pyzmq = "==20.0.0"
requests = "==2.25.0"
requests-toolbelt = "==0.9.1"
six = "==1.15.0"
sqlparse = "==0.4.1"
tornado = "==6.1"
traitlets = "==5.0.5"
urllib3 = "==1.26.2"
virtualenv = "==16.7.2"
virtualenv-clone = "==0.5.4"
wcwidth = "==0.2.5"
whitenoise = "==5.2.0"
Django = "==3.1.2"
Flask = "==1.1.2"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
Pygments = "==2.7.2"
PySocks = "==1.7.1"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.7"
